<div id="url-{{ url.urlid }}" class="link-container">
  <div class="link-header">
    <span class="link-text">Изначальная URL:</span>
    <div class="original-url">{{ url.url }}</div>
  </div>
  <div class="short-url">
    <div>
      <span class="link-text">Короткий вариант:</span>
    <div class="link-buttons url-buttons">
      <!-- <a id="short-url{{ url.urlid }}" href="{{ url.short_url }}">{{ url.short_url }}</a> -->
       {% include "urls/components/short_url.html" %}
    </div>
    </div>
    <div class="clics">нажато {{ url.clics }} раз</div>
  </div>
  <div class="link-buttons">
    {# <button
    hx-delete="{{ url_for("delete_url") }}/?url_id={{ url.urlid }}"
    hx-target="#url-{{ url.urlid }}"
    hx-swap="outerHTML" >Удалить</button> #}
    <button class="delete-button" data-url-id="{{ url.urlid }}">Удалить</button>
    <button
    data-url-id="{{ url.urlid }}"
    class="generate-button">Сгенерировать новую короткую ссылку</button>
  </div>
</div>
